<script>
    var today = new Date();
    var hours = String(today.getHours()).padStart(2, '0');
    var mins = String(today.getMinutes()).padStart(2, '0');
    var seconds = String(today.getSeconds()).padStart(2, '0');
    var dd = String(today.getDate()).padStart(2, '0');
    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
    var yyyy = today.getFullYear();

    var mnth = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

    var mmm = mnth[today.getMonth()];

    today = hours + ':' + mins + ':' + seconds + ' on ' + dd + ' ' + mmm + ' ' + yyyy;
    document.write(today);

</script>
