{% extends "layout.html" %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 34 %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a href="dashboard" class="govuk-breadcrumbs__link">Dashboard</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <form id="schemelink" action="/0/schemes" method="POST">
                <input type="hidden" id="sms1b" name="ineligible" value="hide">
                <input type="hidden" id="sms1b" name="eligible" value="hide">
                <input type="hidden" id="sms1b" name="applied" value="hide">
                <input type="hidden" id="sms1b" name="agreed" value="show">
                <input type="hidden" id="sms1b" name="ongoing" value="show">
                <input type="hidden" id="sms1b" name="oneoff" value="show">

                <a onclick="document.getElementById('schemelink').submit(); return false;" class="govuk-breadcrumbs__link">Schemes</a>

            </form>

        </li>
        <li class="govuk-breadcrumbs__list-item">
            SFI - improved grassland soils standard
        </li>

    </ol>
</div>

{% endblock %}


<!-- Main content area -->
{% block content %}

{% block title %}
<div class="govuk-grid-row govuk-!-padding-bottom-4">

    <div class="govuk-grid-column-full">
        <span class="govuk-caption-xl">
            Agreement
        </span>
        <h1 class="govuk-heading-xl">
            SFI - arable and horticultural soils standard
        </h1>
        <p>Application submitted: <b>{% include "includes/today.html" %}</b> </p>

        <p>Decision expected: <b>{% include "includes/nextWeek.html" %}</b></p>
    </div>

</div>
{% endblock %}
<hr>
<div class="govuk-grid-row govuk-!-padding-bottom-8 govuk-!-padding-top-4">

    <div class="govuk-grid-column-full">

        <h2 class="govuk-heading-m">Agreement dates</h2>

        <p>TBC</p>

        <h2 class="govuk-heading-m govuk-!-padding-top-8">Payment schedule</h2>

        <p>TBC</p>

        <h2 class="govuk-heading-m govuk-!-padding-top-8">Scheme actions</h2>

        <ol class="govuk-list govuk-list--number">
            <li><a href="#">Complete a soil assessment and produce a soil management plan</a></li>
            <li><a href="#">Test soil organic matter</a>
            </li>
            <li><a href="#">Add organic matter</a></li>
            <li><a href="#">Winter cover</a></li>
        </ol>


        <h2 class="govuk-heading-m govuk-!-padding-top-8">Read scheme guidance</h2>

        <ol class="govuk-list govuk-list--number">

            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 1" data-track-label="#how-the-arable-and-horticultural-soils-standard-will-improve-the-environment" data-track-options="{&quot;dimension29&quot;:&quot;How the arable and horticultural soils standard will improve the environment&quot;}" href="#how-the-arable-and-horticultural-soils-standard-will-improve-the-environment">How the arable and horticultural soils standard will improve the environment</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 2" data-track-label="#eligible-land-for-the-arable-and-horticultural-soils-standard" data-track-options="{&quot;dimension29&quot;:&quot;Eligible land for the arable and horticultural soils standard&quot;}" href="#eligible-land-for-the-arable-and-horticultural-soils-standard">Eligible land for the arable and horticultural soils standard</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="#other-land-eligibility-issues-to-consider" data-track-options="{&quot;dimension29&quot;:&quot;Other land eligibility issues to consider&quot;}" href="#other-land-eligibility-issues-to-consider">Other land eligibility issues to consider</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 4" data-track-label="#how-the-arable-and-horticultural-soils-standard-works" data-track-options="{&quot;dimension29&quot;:&quot;How the arable and horticultural soils standard works&quot;}" href="#how-the-arable-and-horticultural-soils-standard-works">How the arable and horticultural soils standard works</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 5" data-track-label="#summary-of-the-actions" data-track-options="{&quot;dimension29&quot;:&quot;Summary of the actions&quot;}" href="#summary-of-the-actions">Summary of the actions</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 6" data-track-label="#details-of-the-actions" data-track-options="{&quot;dimension29&quot;:&quot;Details of the actions&quot;}" href="#details-of-the-actions">Details of the actions</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 7" data-track-label="#action-1-complete-a-soil-assessment-and-produce-a-soil-management-plan" data-track-options="{&quot;dimension29&quot;:&quot;Action 1: Complete a soil assessment and produce a soil management plan&quot;}" href="#action-1-complete-a-soil-assessment-and-produce-a-soil-management-plan">Action 1: Complete a soil assessment and produce a soil management plan</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 8" data-track-label="#action-2-test-soil-organic-matter" data-track-options="{&quot;dimension29&quot;:&quot;Action 2: Test soil organic matter&quot;}" href="#action-2-test-soil-organic-matter">Action 2: Test soil organic matter</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 9" data-track-label="#action-3-add-organic-matter" data-track-options="{&quot;dimension29&quot;:&quot;Action 3: Add organic matter&quot;}" href="#action-3-add-organic-matter">Action 3: Add organic matter</a>

            </li>
            <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
                <a class="gem-c-contents-list__link govuk-link govuk-link--no-underline" data-track-category="contentsClicked" data-track-action="content_item 10" data-track-label="#action-4-winter-cover" data-track-options="{&quot;dimension29&quot;:&quot;Action 4: Winter cover&quot;}" href="#action-4-winter-cover">Action 4: Winter cover</a>

            </li>
        </ol>

    </div>



</div>


{% endblock %}
