{% extends "layout_unbranded.html" %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 9 %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS 
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
<!--  <li class="govuk-breadcrumbs__list-item">
    <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back to payments overview</a>
</li>

</ol>
</div> -->

<style>
    .noborder {
        border-bottom: 0px #fff solid !important;
    }

    .grey {
        grey-color: grey;
        background-color: lightgray;
        padding: 20px 20px 0px 20px;
    }

</style>
{% endblock %}


<!-- Main content area -->
{% block content %}

{% block title %}
<div class="govuk-grid-row govuk-!-padding-bottom-8">

    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            SFI - improved grassland soils standard
        </h1>
        <span class="govuk-caption-xl">
            Agreement
        </span>
    </div>

    <!-- <div class="govuk-grid-column-full">

        <ol class="govuk-list govuk-list--number govuk-list--spaced">
            <li><a href="#details">Details</a> </li>
            <li><a href="#summary">Payment summary</a> </li>
            <li><a href="#calculations">Calculations</a> </li>
            <li><a href="#land">Land details</a> </li>
        </ol>

    </div>
    <div class="govuk-grid-column-full">
        <br /> <br />
        <hr>

    </div> -->
</div>
{% endblock %}


<div class="govuk-grid-row govuk-!-padding-bottom-8 govuk-!-padding-top-8">


    <div class="govuk-grid-column-full">

        <p><i>This page will include:</i></p>

        <ul class="govuk-list govuk-list--bullet">
            <li>Link to agreement doc</li>
            <li>List of actions for this agreement</li>
            <li>Link to payment schedule for this agreement</li>
            <li>Curated guidance links based on what stage of the agreement the customer is in</li>

        </ul>

    </div>



</div>


{% endblock %}
