{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Future Farming",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 24 %}

{% set totalsections = data['prototypes'][pid]['application'][0]['sections'].length %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back</a>
        </li>

    </ol>
</div>
{% endblock %}


<!-- Main content area -->
{% block content %}
{% include "includes/button-save-return.html" %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% block h1 %}
        <h1 class="govuk-heading-l">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}

    </div>
</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-4">

        {% if data['devmode'] == "on" %}
        <div class="notes">
            <p class="govuk-body-s">
                To split questions into separate pages to allow contextual help and guidance for each
            </p>
        </div>
        <br /><br />
        {% else %}
        {% endif %}

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    How to complete a soil assessment and produce a soil management plan
                </span>
            </summary>
            <div class="govuk-details__text">
                <p> To complete a soil assessment, you’ll usually need to:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>assess soil type, texture, structure and biology</li>
                    <li>assess risks to your soil</li>
                    <li>identify historic features</li>
                </ul>

                <p>Try to assess the soil and take soil samples when it is not too dry or wet. Spring or autumn are usually the best time of year to complete a soil assessment.</p>

                <a href="https://www.gov.uk/guidance/how-to-do-the-actions-in-the-arable-and-horticultural-soils-standard#test-som" target="_blank">Read more guidance on how to complete a soil assessment and produce a soil management plan</a>
            </div>
        </details>

        <form action="apply-for-sfi-levels-2" method="POST">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="-hint">

                    <div id="-hint" class="govuk-hint">

                    </div>
                    <div class="govuk-radios govuk-radios--conditional">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="id" name="arable-action-1" type="radio" value="yes" aria-describedby="-hint">
                            <label class="govuk-label govuk-radios__label" for="id">
                                Yes
                            </label>
                            <div id="-hint" class="govuk-hint govuk-radios__hint">

                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="id" name="arable-action-1" type="radio" value="no" aria-describedby="-hint">
                            <label class="govuk-label govuk-radios__label" for="id">
                                No
                            </label>
                            <div id="-hint" class="govuk-hint govuk-radios__hint">

                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>

            <input type="hidden" id="land-status" name="stage-level" value="started">
            <input type="hidden" id="land-status" name="applicationstatus" value="started">

            <button class="govuk-button " data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>

</div>
<br /><br /><br />
{% include "includes/appcomplete.html" %}
{% include "includes/devmode.html" %}

{% endblock %}
