{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Future Farming Single Service",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 22 %}

{% set totalsections = data['prototypes'][pid]['application'][0]['sections'].length %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back</a>
        </li>

    </ol>
</div>
{% endblock %}


<!-- Main content area -->
{% block content %}
{% include "includes/button-save-return.html" %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% block h1 %}
        <h1 class="govuk-heading-l">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}

    </div>
</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <p><i>Based on what you've told us about your business, we think:</i></p>
            <li>there are historical monuments on your land</li>
            <li>there is temporary grassland on your land</li>
            <li>you have several land parcels that you can combine into a single sample area</li>
             <p>Read more about:</p>
             <li>the <a href="https://www.gov.uk/guidance/the-sfi-arable-and-horticultural-soils-standard">SFI arable and horticultural soils standard</a></li>
             <li><a href="https://www.gov.uk/guidance/how-to-do-the-actions-in-the-arable-and-horticultural-soils-standard">how to do the actions in the standard</a> </li>
        <h2>Historical monuments</h2>
            <p>You must request a Sustainable Farming Incentive Historic Environment Farm Environment Record (SFI HEFER). This is because your land includes a scheduled monument, or historic or archaeological feature.</p>
            <p>The SFI HEFER will tell you how they affect the actions you can take under the standards.</p>
            <p>To request one, you need to register on the HEFER portal and enter your Single Business Identifier (SBI). You will receive an email when the SFI HEFER is available for you to download.</p>
            <p>Before you enter land into an SFI standards agreement, read more about:</p>
            <li><a href="https://historicengland.org.uk/advice/planning/consents/smc">scheduled monuments</a>, as you may need consent from Historic England</li>
            <li>works in a <a href="https://historicengland.org.uk/advice/hpg/consent/cac">conservation area</a> that may need consent from your local planning authority</li>
            <p>To find out about soil sampling on scheduled monuments, historic or archaeological features, read the information about <a href="https://www.gov.uk/guidance/check-regulatory-issues-and-consents-that-could-affect-an-sfi-standards-agreement#scheduled-monuments-historic-and-archaeological-features">regulatory issues and consents that could affect an SFI standards agreement</a>.</p>
        <h2>Temporary grassland</h2>
            <p>Temporary grassland is land that has been in grass or other herbaceous forage for less than 5 consecutive years.</p>
            <p>You can treat it as:</p>
            <li>arable land and enter it into this standard</li>
            <li>improved grassland and enter it into the <a href="https://www.gov.uk/guidance/the-sfi-improved-grassland-soils-standard">improved grassland soils standard</a></li>
            <p>After 5 consecutive years, the land will become permanent grassland if it has not been in crop rotation.</p>
            <p>If this happens during this 3-year agreement, it will not be eligible for this standard. You can enter it into the improved grassland soils standard instead.</p>
        <h2>How to select a sample area</h2>
            <p>Before you take soil samples, you'll need to select your sample areas.</p> 
            <p>When you select sample areas, try to choose areas that:</p>
                <li>have a similar soil type</li>
                <li>you have managed in a similar way in the past</li>
            <p>If the soil type and past management is similar, you can take account of the size of the land parcels:</p>
                <li>select one sample area in each land parcel if you consider the land parcels to be an average size</li>
                <li>select smaller sample areas within a large land parcel</li>
                <li>combine small land parcels into a single sample area if the area is not so large that it impacts accuracy</li>
         <br />

        <form action="apply-for-sfi" method="POST">

            <input type="hidden" id="land-status" name="stage-guidance" value="done">
            <input type="hidden" id="land-status" name="applicationstatus" value="started">

            <button class="govuk-button " data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>

</div>




{% endblock %}
