{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Future Farming",
  serviceUrl: "#",
  navigation: [

    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 23 %}

{% set totalsections = data['prototypes'][pid]['application'][0]['sections'].length %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back</a>
        </li>

    </ol>
</div>
{% endblock %}


<!-- Main content area -->
{% block content %}
{% include "includes/button-save-return.html" %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% block h1 %}
        <h1 class="govuk-heading-l">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}

    </div>
</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!--  <p>Use the calculator to find out how much funding you could get for this standard.</p> -->

        <p>According to your land records, you have 20 land parcels which are eligible for this standard.</p>

        <p>The total annual payment you receive depends on the number of hectares (ha) of eligible land you enter into each level.</p>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Level</th>
                    <th scope="col" class="govuk-table__header">Total annual payment</th>
                </tr>
            </thead>
            <tbody>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Introductory</td>
                    <td class="govuk-table__cell">£28 per ha</td>
                </tr>
                <tr class="govuk-table__row">
                    <td class="govuk-table__cell">Intermediate</td>
                    <td class="govuk-table__cell">£58 per ha</td>
                </tr>
            </tbody>
        </table>

        <p>This means if you enter:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>20 ha into the introductory level, your total annual payment is <b>£560</b></li>
            <li>20 ha into the intermediate level, your total annual payment is <b>£1160</b></li>
        </ul>

        <p>You are paid for all the eligible hectares entered into the standard, even if the action only has to be completed on a percentage area of that land.</p>
        <br />

        <form action="apply-for-sfi" method="POST">

            <input type="hidden" id="land-status" name="stage-calculate" value="done">
            <input type="hidden" id="land-status" name="applicationstatus" value="started">

            <button class="govuk-button " data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>

</div>




{% endblock %}
