{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Future Farming",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 12 %}

{% set totalsections = data['prototypes'][pid]['application'][0]['sections'].length %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Dashboard</a>
        </li>

    </ol>
</div>
{% endblock %}


<!-- Main content area -->
{% block content %}
{% include "includes/button-save-return.html" %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <!--  <span class="govuk-caption-l govuk-!-padding-bottom-2">{{ data['maintitle'] }}</span> -->

        {% block h1 %}
        <h1 class="govuk-heading-l">
            Apply for {{ data['prototypes'][pid]['scheme'] }}
        </h1>
        {% endblock %}


        <span class="govuk-caption-l govuk-!-padding-bottom-8">
            {% block subheader %}
            {% endblock %}
        </span>
    </div>

</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">



        <p>Based on what you've told us about your land, we think you're eligible for this standard.</p>

        <ol class="app-task-list govuk-!-padding-top-8">
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">1. </span> Check before you start
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a style="font-size: 1.1875rem;" class="govuk-link" href="" onclick="document.getElementById('confirmeligibility').submit(); return false;"> Confirm eligibility</a>
                            <form id="confirmeligibility" action="apply-for-sfi-eligibility" method="POST">
                                <input type="hidden" id="land-status" name="stage-eligibility" value="started">
                                <input type="hidden" id="land-status" name="applicationstatus" value="started">
                            </form>
                        </span>
                        {% include "includes/logic-stage-1-status.html" %}
                    </li>

                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">2. </span> Prepare application
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a style="font-size: 1.1875rem;" class="govuk-link" href="" onclick="document.getElementById('guidancesummary').submit(); return false;"> Read guidance summary</a>
                            <form id="guidancesummary" action="apply-for-sfi-guidance" method="POST">
                                <input type="hidden" id="land-status" name="stage-guidance" value="started">
                                <input type="hidden" id="land-status" name="applicationstatus" value="started">
                            </form>
                        </span>
                        {% include "includes/logic-stage-2-status.html" %}
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a style="font-size: 1.1875rem;" class="govuk-link" href="" onclick="document.getElementById('calculator').submit(); return false;"> Calculate payment estimate</a>
                            <form id="calculator" action="apply-for-sfi-calculator" method="POST">
                                <input type="hidden" id="land-status" name="stage-calculate" value="started">
                                <input type="hidden" id="land-status" name="applicationstatus" value="started">
                            </form>
                        </span>
                        {% include "includes/logic-stage-2b-status.html" %}
                    </li>

                </ul>
            </li>

            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">3. </span> Apply
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            <a style="font-size: 1.1875rem;" class="govuk-link" href="" onclick="document.getElementById('selectlevel').submit(); return false;">Select level</a>
                            <form id="selectlevel" action="apply-for-sfi-levels" method="POST">
                                <input type="hidden" id="land-status" name="stage-level" value="started">
                                <input type="hidden" id="land-status" name="applicationstatus" value="started">
                            </form>
                        </span>
                        {% include "includes/logic-stage-3-status.html" %}
                    </li>
                    <li class="app-task-list__item">
                        {% if data['stage-level'] == "done" %}
                        <span class="app-task-list__task-name">
                            <a style="font-size: 1.1875rem;" class="govuk-link" href="" onclick="document.getElementById('selectland').submit(); return false;"> Select land</a>
                            <form id="selectland" action="apply-for-sfi-land" method="POST">
                                <input type="hidden" id="land-status" name="stage-land" value="started">
                                <input type="hidden" id="land-status" name="applicationstatus" value="started">
                            </form>
                        </span>
                        {% include "includes/logic-stage-3b-status.html" %}

                        {% else %}

                        <span class="app-task-list__task-name">
                            Select land
                        </span>
                        {% include "includes/logic-stage-3b-status.html" %}

                        {% endif %}



                    </li>

                </ul>
            </li>
            <li>
                <h2 class="app-task-list__section">
                    <span class="app-task-list__section-number">4. </span> Check and submit
                </h2>
                <ul class="app-task-list__items">
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            Check your answers
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
                    </li>
                    <li class="app-task-list__item">
                        <span class="app-task-list__task-name">
                            Submit application
                        </span>
                        <strong class="govuk-tag govuk-tag--grey app-task-list__tag" id="submit-pay-status">Cannot start yet</strong>
                    </li>
                </ul>
            </li>
        </ol>

    </div>

</div>




{% endblock %}
