{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Future Farming",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 30 %}

{% set totalsections = data['prototypes'][pid]['application'][0]['sections'].length %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back</a>
        </li>

    </ol>
</div>
{% endblock %}


<!-- Main content area -->
{% block content %}
{% include "includes/button-save-return.html" %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% block h1 %}
        <h1 class="govuk-heading-l">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}

    </div>
</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-4">

        {% if data['devmode'] == "on" %}
        <div class="notes">
            <p class="govuk-body-s">
                To split questions into separate pages to allow contextual help and guidance for each
            </p>
        </div>
        <br /><br />
        {% else %}
        {% endif %}

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    What is green cover?
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>Green cover is any crop or vegetation that covers bare soil to protect it over the winter.</p>
                <p>This could include:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>autumn-sown crops such as winter cereals, linseed and oilseed rape</li>
                    <li>a quick-growing cover crop</li>
                    <li>leaving weedy stubbles that give sufficient cover to protect the soil</li>
                </ul>
            </div>
        </details>

        <form action="apply-for-sfi" method="POST">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="-hint">

                    <div id="-hint" class="govuk-hint">

                    </div>
                    <div class="govuk-radios govuk-radios--conditional">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="id" name="arable-action-4" type="radio" value="yes" aria-describedby="-hint">
                            <label class="govuk-label govuk-radios__label" for="id">
                                Yes
                            </label>
                            <div id="-hint" class="govuk-hint govuk-radios__hint">

                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="id" name="arable-action-4" type="radio" value="no" aria-describedby="-hint">
                            <label class="govuk-label govuk-radios__label" for="id">
                                No
                            </label>
                            <div id="-hint" class="govuk-hint govuk-radios__hint">

                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>


            <input type="hidden" id="land-status" name="stage-level" value="done">
            <input type="hidden" id="land-status" name="applicationstatus" value="started">

            <button class="govuk-button " data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>

    <div class="govuk-grid-column-one-third">


    </div>

</div>

<br /><br /><br />
{% include "includes/appcomplete.html" %}

{% endblock %}
