{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Rural Payments",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}



<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 21 %}

{% set totalsections = data['prototypes'][pid]['application'][0]['sections'].length %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back</a>
        </li>

    </ol>
</div>
{% endblock %}


<!-- Main content area -->
{% block content %}
{% include "includes/button-save-return.html" %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% block h1 %}
        <h1 class="govuk-heading-l">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}

    </div>
</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <p><i>Here's a paragraph that summaries why we believe this farm is eligible for this scheme, i.e. which pieces of stored data are being used to determine it.</i></p>

        <p><i>The user is asked to confirm this data is still accurate.</i></p>

        <br />

        <form action="apply-for-sfi" method="POST">

            <input type="hidden" id="land-status" name="stage-eligibility" value="done">
            <input type="hidden" id="land-status" name="applicationstatus" value="started">

            <button class="govuk-button " data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>

</div>




{% endblock %}
