{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Future Farming",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 22 %}

{% set totalsections = data['prototypes'][pid]['application'][0]['sections'].length %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back</a>
        </li>

    </ol>
</div>
{% endblock %}


<!-- Main content area -->
{% block content %}
{% include "includes/button-save-return.html" %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% block h1 %}
        <h1 class="govuk-heading-l">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}

    </div>
</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <p>Based on what you've told us about your land, we think:</p>
        <ul class="govuk-list govuk-list--bullet">



            <li>there are historical monuments on your land</li>

            <li>you have several land parcels that you can combine into a single sample area</li>
        </ul>
        <p>Read more about:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>the <a href="https://www.gov.uk/guidance/the-sfi-arable-and-horticultural-soils-standard" target="_blank">SFI arable and horticultural soils standard</a></li>
            <li><a href="https://www.gov.uk/guidance/how-to-do-the-actions-in-the-arable-and-horticultural-soils-standard" target="_blank">how to do the actions in the standard</a> </li>
        </ul>
        <h2 class="govuk-heading-m govuk-!-padding-top-4">Historical monuments</h2>

        <p>You must request a Sustainable Farming Incentive Historic Environment Farm Environment Record (SFI HEFER). This is because your land includes a scheduled monument, or historic or archaeological feature.</p>
        <p>The SFI HEFER will tell you how they affect the actions you can take under the standards.</p>
        <p>To request one, you need to register on the HEFER portal and enter your Single Business Identifier (SBI). You will receive an email when the SFI HEFER is available for you to download.</p>

        <p>Before you enter land into an SFI standards agreement, read more about:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li><a href="https://historicengland.org.uk/advice/planning/consents/smc" target="_blank">scheduled monuments</a>, as you may need consent from Historic England</li>
            <li>works in a <a href="https://historicengland.org.uk/advice/hpg/consent/cac" target="_blank">conservation area</a> that may need consent from your local planning authority</li>
        </ul>

        <p>To find out about soil sampling on scheduled monuments, historic or archaeological features, read the information about <a href="https://www.gov.uk/guidance/check-regulatory-issues-and-consents-that-could-affect-an-sfi-standards-agreement#scheduled-monuments-historic-and-archaeological-features" target="_blank">regulatory issues and consents that could affect an SFI standards agreement</a>.</p>

        <h2 class="govuk-heading-m govuk-!-padding-top-4">How to select a sample area</h2>

        <p>Before you take soil samples, you'll need to select your sample areas.</p>
        <p>When you select sample areas, try to choose areas that:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>have a similar soil type</li>
            <li>you have managed in a similar way in the past</li>
        </ul>
        <p>If the soil type and past management is similar, you can take account of the size of the land parcels:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>select one sample area in each land parcel if you consider the land parcels to be an average size</li>
            <li>select smaller sample areas within a large land parcel</li>
            <li>combine small land parcels into a single sample area if the area is not so large that it impacts accuracy</li>
        </ul>
        <br />

        <form action="apply-for-sfi" method="POST">

            <input type="hidden" id="land-status" name="stage-guidance" value="done">
            <input type="hidden" id="land-status" name="applicationstatus" value="started">

            <button class="govuk-button " data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>

</div>




{% endblock %}
