{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Rural Payments",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}



<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 21 %}

{% set totalsections = data['prototypes'][pid]['application'][0]['sections'].length %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back</a>
        </li>

    </ol>
</div>
{% endblock %}


<!-- Main content area -->
{% block content %}
{% include "includes/button-save-return.html" %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% block h1 %}
        <h1 class="govuk-heading-l">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}

    </div>
</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        <p>Check the following information about your land to confirm if you're eligible for the SFI arable and horticultural soils standard.</p>

        <br /><br />

        <dl class="govuk-summary-list govuk-!-margin-bottom-9 govuk-!-padding-top-8">
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Land
                </dt>
                <dd class="govuk-summary-list__value">
                    <p>Your land is in England only</p>

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Eligible land covers
                </dt>
                <dd class="govuk-summary-list__value">

                    <p>You have 20 land parcels with arable land cover
                    </p>

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Management control
                </dt>
                <dd class="govuk-summary-list__value">

                    <p>You will have management control of the land for the duration of your 3-year agreement</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Scheduled monuments, historic and archaeological features
                </dt>
                <dd class="govuk-summary-list__value">

                    <p>Some of your eligible land has a scheduled monument, or historic or archaeological feature</p>
                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">Change</a>
                </dd>
            </div>
            <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                    Land in another agri-environment scheme agreement
                </dt>
                <dd class="govuk-summary-list__value">

                    <p>None of the eligible land is in an existing agri-environment scheme agreement that may lead to being paid twice for a similar activity or outcome (known as ‘double funding’)
                    </p>

                </dd>
                <dd class="govuk-summary-list__actions">
                    <a href="#">Change</a>
                </dd>
            </div>
        </dl>

        <br />

        <form action="apply-for-sfi" method="POST">

            <input type="hidden" id="land-status" name="stage-eligibility" value="done">
            <input type="hidden" id="land-status" name="applicationstatus" value="started">

            <button class="govuk-button " data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>

</div>




{% endblock %}
