{% extends "layout.html" %}

{% from "govuk/components/header/macro.njk" import govukHeader %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Future Farming",
  serviceUrl: "#",
  navigation: [
    {
      href: "account-business-overview",
      text: "Your businesses"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 28 %}

{% set totalsections = data['prototypes'][pid]['application'][0]['sections'].length %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back</a>
        </li>

    </ol>
</div>
{% endblock %}


<!-- Main content area -->
{% block content %}
{% include "includes/button-save-return.html" %}
{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

        {% block h1 %}
        <h1 class="govuk-heading-l">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
        {% endblock %}

    </div>
</div>
{% endblock %}

<div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds govuk-!-padding-top-4">

        {% if data['devmode'] == "on" %}
        <div class="notes">
            <p class="govuk-body-s">
                To split questions into separate pages to allow contextual help and guidance for each
            </p>
        </div>
        <br /><br />
        {% else %}
        {% endif %}

        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    How to select a sample area
                </span>
            </summary>
            <div class="govuk-details__text">
                <p>A sample area is an area of land across which you will take soil samples.</p>

                <p>When you select sample areas, try to choose areas which have:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>a similar soil type</li>
                    <li>been managed in a similar way in the past</li>
                </ul>

                <p>If the soil type and past management is similar, you can take account of the size of the land parcels:</p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>select one sample area in each land parcel if you consider the land parcels to be an average size</li>
                    <li>select a number of smaller sample areas within a large land parcel</li>
                    <li>combine small land parcels into a single sample area, but try to avoid the combined area being too large as this will reduce the soil testing analysis accuracy</li>
                </ul>

            </div>
        </details>

        <form action="apply-for-sfi-levels-3" method="POST">

            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset" aria-describedby="-hint">
                    <div id="-hint" class="govuk-hint">

                    </div>
                    <div class="govuk-radios govuk-radios--conditional">

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="id" name="arable-action-2" type="radio" value="yes" aria-describedby="-hint">
                            <label class="govuk-label govuk-radios__label" for="id">
                                Yes
                            </label>
                            <div id="-hint" class="govuk-hint govuk-radios__hint">

                            </div>
                        </div>

                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="id" name="arable-action-2" type="radio" value="no" aria-describedby="-hint">
                            <label class="govuk-label govuk-radios__label" for="id">
                                No
                            </label>
                            <div id="-hint" class="govuk-hint govuk-radios__hint">

                            </div>
                        </div>

                    </div>
                </fieldset>
            </div>
            <input type="hidden" id="land-status" name="stage-level" value="started">
            <input type="hidden" id="land-status" name="applicationstatus" value="started">

            <button class="govuk-button " data-module="govuk-button">
                Continue
            </button>

        </form>

    </div>



</div>

{% include "includes/devmode.html" %}

{% endblock %}
