{% extends "layout_prototype.html" %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set ppid = 0 + 1 %}
{% set 0pid = ("0" + (pid + 1)).slice(-2) %}


<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
{% endblock %}

<!-- Main content area -->

{% block acc1 %}
<ol class="govuk-list govuk-list--number">
    <li>Based on what we know about you, we think you are eligible for the SFI - improved grassland soils standard. Work out if you want to apply.</li>
    <li>Find out information on your next payment. When is it going to happen, how much and why?</li>
    <li>Your SOM test is due. Please read the guidance, carry out the test and upload the results.</li>
</ol>
{% endblock %}

{% block acc2 %}

<p>To follow...</p>
{% endblock %}

{% block acc3 %}
<p>To follow...</p>
{% endblock %}

{% block acc4 %}
{{ super() }}
{% endblock %}

{% block acc5 %}
{{ super() }}
<p>To follow...</p>
{% endblock %}


<!-- Side panel -->
{% block right %}
<!-- Prototype details -->
{{ super() }}


{% endblock %}
