{% extends "layout.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Future Farming",
  serviceUrl: "#",
  navigation: [
    {
      href: "#1",
      text: "A link"
    },{
      href: "#2",
      text: "A link"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 11 %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back to dashboard</a>
        </li>

    </ol>
</div>

<style>
    .noborder {
        border-bottom: 0px #fff solid !important;
    }

    .grey {
        grey-color: grey;
        background-color: lightgray;
        padding: 20px 20px 0px 20px;
    }


    .col-container {
        display: flex;
        width: 100%;
    }

    .dashpanel {
        flex: 1;
        padding: 15px;
    }

    #dashboardmenu {
        position: -webkit-sticky;
        /* Safari */
        position: sticky;
        top: 10px;
    }

    @media only screen and (max-width: 900px) {
        .col-container {
            display: block;
            width: 100%;
        }

        #dashboardmenu {
            display: none;
        }
    }

    .panelbg {
        background: #f3f2f1;
        border-right: 15px solid white;
        border-bottom: 15px solid white;
    }

    .inset-dashboard {
        border-left-color: #d53880;
    }

    .inset-dashboard-2 {
        border-left-color: #28a197;
    }

    s .govuk-width-container {
        max-width: 95% !important;
    }

    .col-container {
        display: flex;
        width: 100%;
    }

    .dashpanel {
        flex: 1;
        padding: 15px;
    }

    #dashboardmenu {
        position: -webkit-sticky;
        /* Safari */
        position: sticky;
        top: 10px;
    }

    @media only screen and (max-width: 900px) {
        .col-container {
            display: block;
            width: 100%;
        }

        #dashboardmenu {
            display: none;
        }
    }

    .panelbg {
        background: #f3f2f1;
        border-right: 15px solid white;
        border-bottom: 15px solid white;
    }

    .inset-dashboard {
        border-left-color: #d53880;
    }

    .inset-dashboard-2 {
        border-left-color: #28a197;
    }

</style>
{% endblock %}


<!-- Main content area -->
{% block content %}

{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
    </div>

</div>
{% endblock %}

<div class="govuk-grid-row govuk-!-padding-bottom-8">

    <div class="govuk-grid-column-full">
        <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Sort and filter schemes
                </span>
            </summary>
            <div class="govuk-details__text">
                <form id="paymentstable" action="/0/schemes-toggle-form" method="POST">
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">

                            <div class="govuk-form-group">
                                <label class="govuk-label" for="sort">
                                    Sort by
                                </label>
                                <select class="govuk-select" id="sort" name="sort">

                                    <option value="scheme" selected>Scheme name</option>
                                    <option value="type">Type</option>
                                    <option value="status">Status</option>
                                </select>
                            </div>

                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <div class="govuk-form-group">
                                <p> Show:</p>
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                                    <div class="govuk-checkboxes__item">

                                        <input class="govuk-checkboxes__input" id="scheduled-tog" name="ongoing" type="checkbox" value="show" {{ checked("ongoing", "show") }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                            Ongoing
                                        </label>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div class="govuk-form-group">
                                <p>&nbsp;</p>
                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                                    <div class="govuk-checkboxes__item">

                                        <input class="govuk-checkboxes__input" id="scheduled-tog" name="oneoff" type="checkbox" value="show" {{ checked("oneoff", "show") }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                            One-off
                                        </label>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-one-quarter">
                            <div class="govuk-form-group">

                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                                    <div class="govuk-checkboxes__item">

                                        <input class="govuk-checkboxes__input togz" id="paid-tog" name="agreed" type="checkbox" value="show" {{ checked("agreed", "show") }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="paid">
                                            Agreement in place
                                        </label>
                                    </div>

                                </div>

                            </div>

                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div class="govuk-form-group">

                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                                    <div class="govuk-checkboxes__item">

                                        <input class="govuk-checkboxes__input" id="pending-tog" name="eligible" type="checkbox" value="show" {{ checked("eligible", "show") }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                            Eligible
                                        </label>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <div class="govuk-grid-column-one-quarter">
                            <div class="govuk-form-group">

                                <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">

                                    <div class="govuk-checkboxes__item">

                                        <input class="govuk-checkboxes__input" id="scheduled-tog" name="ineligible" type="checkbox" value="show" {{ checked("ineligible", "show") }}>
                                        <label class="govuk-label govuk-checkboxes__label" for="organisation">
                                            Ineligible
                                        </label>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="govuk-grid-row">
                        <div class="govuk-grid-column-full">
                            <button style="float: right;" class="govuk-button" data-module="govuk-button">
                                Update table
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </details>

    </div>

    <div class="govuk-grid-column-full govuk-!-padding-top-4">

        <table class="govuk-table">

            <thead class="govuk-table__head">

                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">Type</th>
                    <th scope="col" class="govuk-table__header">Name</th>
                    <th scope="col" class="govuk-table__header">Status</th>
                    <th scope="col" class="govuk-table__header">Next steps</th>
                </tr>
            </thead>

            <tbody class="govuk-table__body">

                {% if data['agreed'] == "show" and data['ongoing'] == "show" %}
                <tr class="govuk-table__row paid">
                    <td class="govuk-table__cell">Ongoing</td>
                    <td class="govuk-table__cell">Basic Payment Scheme</td>

                    <td class="govuk-table__cell">Agreement in place</td>
                    <td class="govuk-table__cell"><a href="#">View agreement</a> </td>

                </tr>
                <tr class="govuk-table__row paid ">
                    <td class="govuk-table__cell">Ongoing</td>
                    <td class="govuk-table__cell">SFI improved grassland soils standard</td>
                    <td class="govuk-table__cell">Agreement in place</td>
                    <td class="govuk-table__cell"><a href="agreemeent-sfi-grassland.html">View agreement</a> </td>
                </tr>

                {% else %}
                {% endif %}

                {% if data['eligible'] == "show" and data['ongoing'] == "show" %}
                <tr class="govuk-table__row paid ">
                    <td class="govuk-table__cell">Ongoing</td>
                    <td class="govuk-table__cell">{{ data['prototypes'][pid]['scheme'] }}</td>
                    <td class="govuk-table__cell">Eligible</td>
                    <td class="govuk-table__cell">
                        {% if data['applicationstatus'] == "started" %}
                        <a href="apply-for-sfi">Resume application</a>
                        {% elif data['applicationstatus'] == "done" %}
                        <a href="#">Application submitted</a>
                        {% else %}
                        <a href="apply-for-sfi" class="govuk-button">Apply</a>
                        {% endif %}
                    </td>
                </tr>

                {% else %}
                {% endif %}

                {% if data['eligible'] == "show" and data['oneoff'] == "show" %}

                <tr class="govuk-table__row paid ">
                    <td class="govuk-table__cell">One-off</td>
                    <td class="govuk-table__cell">Lump sum payment to leave or retire from farming</td>
                    <td class="govuk-table__cell">Eligible</td>
                    <td class="govuk-table__cell">

                        <a href="apply-for-sfi" class="govuk-button">Apply</a>

                    </td>
                </tr>
                {% else %}
                {% endif %}

                {% if data['eligible'] == "show" and data['oneoff'] == "show" %}
                <tr class="govuk-table__row paid ">
                    <td class="govuk-table__cell">One-off</td>
                    <td class="govuk-table__cell">Farming Investment Fund</td>
                    <td class="govuk-table__cell">Eligible</td>
                    <td class="govuk-table__cell">

                        <a href="#" class="govuk-button">Apply</a>

                    </td>
                </tr>

                {% else %}
                {% endif %}

                {% if data['ineligible'] == "show" and data['ongoing'] == "show" %}
                <tr class="govuk-table__row paid ">
                    <td class="govuk-table__cell">Ongoing</td>
                    <td class="govuk-table__cell">SFI moorland standard</td>
                    <td class="govuk-table__cell">Ineligible - no land covers within an eligible land type</td>
                    <td class="govuk-table__cell"> </td>

                </tr>

                {% else %}
                {% endif %}


            </tbody>
        </table>

        <br />

        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
            Download this list as a PDF
        </button>

    </div>

</div>

{% endblock %}
