{% extends "layout.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Future Farming",
  serviceUrl: "#",
  navigation: [
    {
      href: "#1",
      text: "A link"
    },{
      href: "#2",
      text: "A link"
    },
    {
      href: "#2",
      text: "Sign out"
    }
  ]
}) }}
{% endblock %}

<!-- Update prototype id -->
{% set pid = 0 %}
{% set pageid = 18 %}

<!-- Before content area -->
{% block beforeContent %}
{{ super() }}
<!-- BREADCRUMBS -->
<div class="govuk-breadcrumbs govuk-breadcrumbs--collapse-on-mobile">
    <ol class="govuk-breadcrumbs__list">
        <!-- <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['home'] }}" class="govuk-breadcrumbs__link">Home</a>
        </li> -->
        <li class="govuk-breadcrumbs__list-item">
            <a href="{{ data['prototypes'][pid]['pages'][pageid]['back'] }}" class="govuk-breadcrumbs__link">Back to documents</a>
        </li>

    </ol>
</div>

<style>
    .noborder {
        border-bottom: 0px #fff solid !important;
    }

    .grey {
        grey-color: grey;
        background-color: lightgray;
        padding: 20px 20px 0px 20px;
    }

</style>
{% endblock %}


<!-- Main content area -->
{% block content %}

{% block title %}
<div class="govuk-grid-row">

    <div class="govuk-grid-column-full">

        <h1 class="govuk-heading-xl">
            {{ data['prototypes'][pid]['pages'][pageid]['title'] }}
        </h1>
    </div>

</div>
{% endblock %}


<div class="govuk-grid-row govuk-!-padding-bottom-8">

    <div class="govuk-grid-column-full">

        <p>User will:</p>

        <ul class="govuk-list govuk-list--bullet">
            <li>select document type</li>
            <li>attach file</li>
            <li>have the ability to link to upload to an action/piece of land</li>

        </ul>

    </div>

</div>




{% endblock %}
