{% extends "layout.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "Single Service hub",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block pageTitle %}
{{ data['maintitle'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">Future Farming and Countryside Programme</span>
      <h1 class="govuk-heading-xl">
        Prototype repository        
      </h1>
      <h2 class="govuk-heading-l">
        Single Service prototypes        
      </h2>
      <p>Interaction design: <a href="mailto:gareth.thomas@defra.gov.uk">Gareth Thomas</a><br>Service design: <a href="mailto:lindsey.williams@defra.gov.uk">Lindsey Williams</a> / <a href="mailto:lindsey.williams@defra.gov.uk">Chris Dennis</a>
      </p>



<!-- Single Service block start -->
    <div style="background-color:#f3f2f1; border: solid 5px #1d70b8; padding: 24px 24px 16px;">
        <strong class="govuk-tag" style="margin-bottom: 16px;">
            complete
          </strong>

    <h3 class="govuk-heading-m">
        Prototype v0        
      </h3>

      <p>
        Concept prototype developed as part of the ‘Single Service’ design spike in August/September 2022.
      </p>

    <a href="single-service-index_v0" class="govuk-button" style="margin-bottom: 16px;">View details and prototype</a>

<hr>
    <p class="govuk-body-s">Got a question? Contact Gareth or Chris</p>

</div>
<!-- Single Service block end -->

<hr style="margin: 32px 0 ;">

<h2 class="govuk-heading-l">
  Individual service team prototypes        
</h2>


<!-- Single Service block start -->
<div style="background-color:#f3f2f1; padding: 24px 24px 16px; margin-bottom: 32px;">
    <strong class="govuk-tag govuk-tag--blue" style="margin-bottom: 16px;">
        In development
      </strong>

<h3 class="govuk-heading-m">
    Find Team        
  </h3>

  <p>
    Various prototypes developed to help farmers find information in the awareness phase of the journey.
  </p>

<a href="https://ffc-advice.herokuapp.com" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View Find Team prototype</a>

<p>Username: <strong>advice</strong> / Password: <strong>potato</strong></p>

<hr>
<p class="govuk-body-s">Interaction design contact: <a href="mailto:cassie.robinson@capgemini.com">Cassie Robinson</a></p>

</div>
<!-- Single Service block end -->

<!-- Single Service block start -->
<div style="background-color:#f3f2f1; padding: 24px 24px 16px; margin-bottom: 32px;">
    <strong class="govuk-tag govuk-tag--blue" style="margin-bottom: 16px;">
        In development
      </strong>

<h3 class="govuk-heading-m">
    Making Payment Data Public (MPDP)        
  </h3>

  <p>
    Prototypes developed in the awareness phase of the journey focussed around helping farmers find information.
  </p>

<a href="https://www.figma.com/proto/T1V1tWDJfOwbGGa3nng4rt/MPDP?node-id=2639%3A21458&scaling=min-zoom&page-id=1%3A2&starting-point-node-id=2639%3A21458&show-proto-sidebar=1" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View MVP v4 prototype</a>
<br>
<a href="https://www.figma.com/proto/T1V1tWDJfOwbGGa3nng4rt/MPDP?node-id=2639%3A21440&scaling=min-zoom&page-id=1%3A2&starting-point-node-id=2639%3A21440&show-proto-sidebar=1" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View Beta v10 prototype</a>

<hr>
<p class="govuk-body-s">Interaction design contact: <a href="mailto:mikael.metthey@defra.gov.uk">Mikael Metthey</a></p>

</div>
<!-- Single Service block end -->

<!-- Single Service block start -->
<div style="background-color:#f3f2f1; padding: 24px 24px 16px; margin-bottom: 32px;">
    <strong class="govuk-tag" style="margin-bottom: 16px;">
        Complete
      </strong>

<h3 class="govuk-heading-m">
    Sustainable Farming Incentive (SFI) 2022        
  </h3>

  <p>
    Prototype developed as part of the SFI 2022 work and built to reflect the screens in GOV.UK and the RPA systems.
  </p>

<a href="https://sfi-22.herokuapp.com/" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View SFI 2022 prototype</a>

<p>Password: <strong>farming</strong></p>

<hr>
<p class="govuk-body-s">Interaction design contact: TBC<br>Service design contact: <a href="mailto:marcela.salcedo@kainos.com">Marcela Salcedo</a></p>

</div>
<!-- Single Service block end -->

<!-- Single Service block start -->
<div style="background-color:#f3f2f1; padding: 24px 24px 16px; margin-bottom: 32px;">
    <strong class="govuk-tag" style="margin-bottom: 16px;">
        Complete
      </strong>

<h3 class="govuk-heading-m">
    Grants 2021/22        
  </h3>

  <p>
    Prototypes developed to support the tactical farming grants introduced in 2021/22. Future grants work also captured here.
  </p>

<a href="https://grants-prototype2.herokuapp.com/" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View grants prototype</a>

<p>Username: <strong>grants</strong> / Password: <strong>prototype</strong></p>

<hr>
<p class="govuk-body-s">Interaction design contact: <a href="mailto:robert.a.nagy@capgemini.com">Robert Nagy</a><br>Service design contact: <a href="mailto:gren.hamlyn@capgemini.com">James Edwards</a></p>

</div>
<!-- Single Service block end -->


<!-- Single Service block start -->
<div style="background-color:#f3f2f1; padding: 24px 24px 16px; margin-bottom: 32px;">
    <strong class="govuk-tag govuk-tag--blue" style="margin-bottom: 16px;">
        In development
      </strong>

<h3 class="govuk-heading-m">
    Annual Health and Welfare Review (Vets Visits)        
  </h3>

  <p>
    Service that allows farmers to apply and claim for funding to pay for health and welfare checks on selected types of animals.
  </p>

<a href="https://sfi-prototype.herokuapp.com/ahw" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View prototypes</a>

<p>Username: <strong>sfi</strong> / Password: <strong>prototype</strong></p>

<hr>
<p class="govuk-body-s">Interaction design contact: TBC<br>Service design contact: <a href="mailto:james.edwards@environment-agency.gov.uk">James Edwards</a></p>

</div>
<!-- Single Service block end -->


<!-- Single Service block start -->
<div style="background-color:#f3f2f1; padding: 24px 24px 16px; margin-bottom: 32px;">
    <strong class="govuk-tag govuk-tag--blue" style="margin-bottom: 16px;">
        In development
      </strong>

<h3 class="govuk-heading-m">
    Local Nature Recovery (LNR)        
  </h3>

  <p>
    Prototype developed for the LNR scheme in their Alpha phase. Further work underway in their post-Alpha phase.
  </p>

<a href="https://xd.adobe.com/view/e5d2ed85-665d-4455-53c1-0e26905607e2-93e3/" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View LNR Alpha prototype</a>
<p>Password: <strong>LNRAlpha1</strong></p>

<a href="https://sandbox-choice.herokuapp.com/" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View Sandbox prototype</a>
<p>Password: <strong>nature</strong></p>

<hr>
<p class="govuk-body-s">Interaction design contact: <a href="mailto:virginie.tan@capgemini.com">Virginie Tan</a><br>Service design contact: <a href="mailto:ed.wallace@capgemini.com">Ed Wallace</a></p>

</div>
<!-- Single Service block end -->


    </div>
  </div>

{% endblock %}
