{% extends "layout.html" %}

{% block header %}
{{ govukHeader({
  homepageUrl: "#",
  serviceName: "FFCP prototype repository",
  serviceUrl: "#"
}) }}
{% endblock %}

{% block pageTitle %}
{{ data['maintitle'] }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Page last updated: 24 January 2023</p>
        <span class="govuk-caption-xl">Future Farming and Countryside Programme</span>
      <h1 class="govuk-heading-xl">
        Prototype repository        
      </h1>
      

      <!-- <h2 class="govuk-heading-l">
        Single Service prototypes        
      </h2> -->
      <!-- <p>Interaction design: <a href="mailto:gareth.thomas@defra.gov.uk">Gareth Thomas</a><br>Service design: <a href="mailto:lindsey.williams@defra.gov.uk">Lindsey Williams</a> / <a href="mailto:chris.dennis@defra.gov.uk">Chris Dennis</a>
      </p> -->




<!-- Single Service block start -->
    <div style="background-color:#f3f2f1; border: solid 5px #1d70b8; padding: 24px 24px 16px;">
      
      <strong class="govuk-tag govuk-tag--blue" style="margin-bottom: 16px;">
        In development
        </strong>
        <span class="govuk-caption-l">External users</span>
      <h2 class="govuk-heading-l">
        Single service prototypes        
      </h2>




    <h3 class="govuk-heading-m">
        Prototype v0        
      </h3>

      <p>
        Concept prototype developed as part of the ‘Single Service’ design spike in August/September 2022.
      </p>

    <a href="single-service-index_v0" class="govuk-button" style="margin-bottom: 16px;">View details and prototype</a>

<hr>

<p><strong>Contact details</strong><br>Interaction design: <a href="mailto:gareth.thomas@defra.gov.uk">Gareth Thomas</a><br>Service design: <a href="mailto:lindsey.williams@defra.gov.uk">Lindsey Williams</a> / <a href="mailto:chris.dennis@defra.gov.uk">Chris Dennis</a>
</p>
    <!-- <p class="govuk-body-s">Got a question? Contact Gareth or Chris</p> -->

</div>
<!-- Single Service block end -->

<hr style="margin: 32px 0 ;">

<h2 class="govuk-heading-l">
  Individual service team prototypes        
</h2>


<ul class="govuk-list" style="margin-bottom: 48px;">
  <li>
    <a class="govuk-link" href="#find-advice">Find Advice</a>
  </li>
  <li>
    <a class="govuk-link" href="#making-payment-data-public">Making Payment Data Public (MPDP)</a>
  </li>
  <li>
    <a class="govuk-link" href="#sustainable-farming-incentive">Sustainable Farming Incentive (SFI)</a>
  </li>
  <li>
    <a class="govuk-link" href="#farming-grants">Farming Grants</a>
  </li>
  <li>
    <a class="govuk-link" href="#annual-health-welfare-review">Annual Health and Welfare Review (Vets Visits)</a>
  </li>
  <li>
    <a class="govuk-link" href="#local-nature-recovery">Local Nature Recovery (LNR)</a>
  </li>
</ul>

<!-- Single Service block start -->
<div style="background-color:#f3f2f1; padding: 24px 24px 16px; margin-bottom: 32px;" id="find-advice">
    <strong class="govuk-tag govuk-tag--blue" style="margin-bottom: 16px;">
        In development
      </strong>

<h3 class="govuk-heading-m">
    Find Advice        
  </h3>

  <p>
    Various prototypes developed to help farmers find information in the awareness phase of the journey.
  </p>

<a href="https://ffc-advice-2023.herokuapp.com/" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View Find Advice prototypes</a>

<p>Username: <strong>advice</strong> / Password: <strong>farming</strong></p>

<hr style="margin-bottom: 16px;">
<p class="govuk-body-s"><strong>Contact details</strong><br>Interaction design: <a href="mailto:cassie.robinson@capgemini.com">Cassie Robinson</a></p>

</div>
<!-- Single Service block end -->

<!-- Single Service block start -->
<div style="background-color:#f3f2f1; padding: 24px 24px 16px; margin-bottom: 32px;" id="making-payment-data-public">
    <strong class="govuk-tag govuk-tag--blue" style="margin-bottom: 16px;">
        In development
      </strong>

<h3 class="govuk-heading-m">
    Making Payment Data Public (MPDP)        
  </h3>

  <p>
    Prototypes for a service that helps users check agricultural scheme payments made to farmers and land managers.
  </p>

  <a href="https://mpdp1.herokuapp.com/" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View MPDP prototype</a>

  <p>Password: <strong>MPDP</strong></p>
  

<hr style="margin-bottom: 16px;">
<p class="govuk-body-s"><strong>Contact details</strong><br>Interaction design: <a href="mailto:mikael.metthey@defra.gov.uk">Mikael Metthey</a></p>

</div>
<!-- Single Service block end -->

<!-- Single Service block start -->
<div style="background-color:#f3f2f1; padding: 24px 24px 16px; margin-bottom: 32px;" id="sustainable-farming-incentive">
    <strong class="govuk-tag govuk-tag--blue" style="margin-bottom: 16px;">
        In development
      </strong>
      <strong class="govuk-tag" style="margin-bottom: 16px;">
        Live
      </strong>

      <h3 class="govuk-heading-m">
        Sustainable Farming Incentive (SFI)        
      </h3>
      <p>Coming soon...</p>
      <hr>

<h3 class="govuk-heading-m">
    Sustainable Farming Incentive (SFI) 2022        
  </h3>

  <p>
    Prototype developed as part of the SFI 2022 work and built to reflect the screens in GOV.UK and the RPA systems.
  </p>

<a href="https://sfi-22.herokuapp.com/" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View SFI 2022 prototype</a>

<p>Password: <strong>farming</strong></p>

<hr style="margin-bottom: 16px;">
<p class="govuk-body-s"><strong>Contact details</strong><br>Interaction design: <a href="mailto:virginie.tan@capgemini.com">Virginie Tan</a> / Service design: <a href="mailto:marcela.salcedo@kainos.com">Marcela Salcedo</a></p>

</div>
<!-- Single Service block end -->

<!-- Single Service block start -->
<div style="background-color:#f3f2f1; padding: 24px 24px 16px; margin-bottom: 32px;" id="farming-grants">
    <strong class="govuk-tag govuk-tag--blue" style="margin-bottom: 16px;">
        In development
      </strong>
      <strong class="govuk-tag" style="margin-bottom: 16px;">
        Live
      </strong>

<h3 class="govuk-heading-m">
    Farming Grants        
  </h3>

  <p>
    Prototypes developed to support the tactical farming grants introduced in 2021/22, as well as future grant schemes.
  </p>

<a href="https://grants-prototype2.herokuapp.com/" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View Farming Grants prototypes</a>

<p>Username: <strong>grants</strong> / Password: <strong>prototype</strong></p>

<hr style="margin-bottom: 16px;">
<p class="govuk-body-s"><strong>Contact details</strong><br>Interaction design: <a href="mailto:robert.a.nagy@capgemini.com">Robert Nagy</a> / Service design: <a href="mailto:gren.hamlyn@capgemini.com">Gren Hamlyn</a></p>

</div>
<!-- Single Service block end -->


<!-- Single Service block start -->
<div style="background-color:#f3f2f1; padding: 24px 24px 16px; margin-bottom: 32px;" id="annual-health-welfare-review">
    <strong class="govuk-tag govuk-tag--blue" style="margin-bottom: 16px;">
        In development
      </strong>

<h3 class="govuk-heading-m">
    Annual Health and Welfare Review (Vets Visits)        
  </h3>

  <p>
    Service that allows farmers to apply and claim for funding to pay for health and welfare checks on selected types of animals.
  </p>

<a href="https://fcp-ahwr-prototype.herokuapp.com/" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View prototypes</a>

<p>Password: <strong>farming</strong></p>

<hr style="margin-bottom: 16px;">
<p class="govuk-body-s"><strong>Contact details</strong><br>Interaction design: <a href="mailto:melissa.wills@capgemini.com">Melissa Wills</a> / Service design: <a href="mailto:james.edwards@environment-agency.gov.uk">James Edwards</a></p>

</div>
<!-- Single Service block end -->


<!-- Single Service block start -->
<div style="background-color:#f3f2f1; padding: 24px 24px 16px; margin-bottom: 32px;" id="local-nature-recovery">
    <strong class="govuk-tag govuk-tag--orange" style="margin-bottom: 16px;">
        Paused
      </strong>

<h3 class="govuk-heading-m">
    Local Nature Recovery (LNR)        
  </h3>

  <p>
    Prototype developed for the LNR scheme in the Alpha phase.
  </p>

<a href="https://xd.adobe.com/view/e5d2ed85-665d-4455-53c1-0e26905607e2-93e3/" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View LNR Alpha prototype</a>
<p>Password: <strong>LNRAlpha1</strong></p>
<!-- 
<a href="https://sandbox-choice.herokuapp.com/" class="govuk-button" style="margin-bottom: 16px;" target="_blank">View Sandbox prototype</a>
<p>Password: <strong>nature</strong></p>
 -->
<hr style="margin-bottom: 16px;">

<p class="govuk-body-s"><strong>Contact details</strong><br>Interaction design: <a href="mailto:virginie.tan@capgemini.com">Virginie Tan</a> / Service design: <a href="mailto:ed.wallace@capgemini.com">Ed Wallace</a></p>

</div>
<!-- Single Service block end -->


    </div>
  </div>

{% endblock %}
